body {
  background-color: #fafafa;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
.title {
  text-align: center;
}
img,
.image {
  width: 300px;
  height: auto;
  margin: 0 auto;
  display: block;
}

a {
  display: inline-block;
  padding: 10px;
  margin: 3px;
  border: 2px dotted #7c73e6;
}
